/* <<<<<<< branch-Hanna */
* {
	margin: 0;
	padding: 0;
}
img {
	max-width: 100%;
}
body {
	font-size: 20px; 
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
	color: #000;
}

/* Main Highlight */
.main-highlight-wrapper {
	background: #fafafa;
	margin-top: 44px;
	padding: 20px 0;
    text-align: center;
}
.links-wrapper ul {
	list-style: none;
}
.model {
	font-size: .85em;
}
.product-title {
	font-weight: 700;
	font-size: 56px;
}
.brief-description {
	font-size: 2em;
}
.links-wrapper {
	padding: 15px 0;
}
.links-wrapper ul li {
	display: inline-block;
	padding-right: 20px;
}
.links-wrapper ul li a {
	color: #06c;
	text-decoration: none;
}
.links-wrapper ul li a:hover {
	color: #000;
}
.links-wrapper ul li a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
}

/* Second Highlight Section */
.second-hightlight-wrapper {
	background-image: url("../images/home/iphone11-pro-bg.jpg");
	height: 580px;
	background-position: center;
	background-repeat: no-repeat;
  background-size: cover;
	text-align: center;
	padding: 65px 20px;
	color: #fff;
}
.title-wraper {
	font-weight: 600;
	font-size: 56px;	
}
.description-wrapper {
	font-size: 26px;
	padding: 10px 0;
}
.price-wrapper {
	color: #86868b; 
	font-size: 0.85em;
}
/* Third Highlight Section */
.third-highlight-wrapper {
	background-image: url("../images/home/iphone11-bg.jpg");
	height: 580px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: 65px 20px;
}
/* ======= */

/* header start */

  .navigation{
      background-color: black;
      padding: 12px;
      
  }
   .header {
    width: 960px;
    margin: 0 auto;
      
  }
  .navigation header ul{
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-between;
      
  }
  .navigation header ul li{
      list-style: none;
      font-size: 18px;
      
      
  }
  .navigation header ul li a{
      text-decoration: none;
     color: rgb(200, 196, 196);
      
      
  }
  
  .navigation header ul li a:hover{
      opacity: 0.9;
  }
  
  .logo,.search,.cart{
      width: 18px;
  }
   /* header end  */

   /* footer start */
  .main-footer-wrapper{
    background-color: #f5f5f7;
  color: #1d1d1f;
  font-size: .85em;
} 
.main-internal-wrapper {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  text-justify: inter-word;
  padding-left: 110px;
  padding-right: 110px;
  padding-top: 15px;
  
}
 .main-internal-wrapper ul li{
    list-style: none;
    padding: 5px;
    
 }  
.main-internal-wrapper ul li a{
    text-decoration: none;
    color: #515154;
}
.top-page-text{
border-bottom: 1px solid #d2d2d7;
  color: #515154;
  text-align: justify;
  text-justify: inter-word;
  padding-left: 110px;
  padding-right: 110px; 
  padding-bottom: 20px;
  padding-top: 20px;
   font-family: "FontAwesome";
   content: "\f105";
  
}

.footer-70,.footer-71,.footer-72{
    display: inline-block;
padding: 20px;
}
.footer-71{
   padding-right: 280px;
}

.footer-six{
    position: absolute;
    margin-left: 110px;
   
}
.footer-bottom-line{
border-bottom: 1px solid #e1e1e3;

}
.footer-seven li{
    list-style: none;
}
.footer-seven li a{
    text-decoration: none;
}
h4{
   display: flex;
   font-weight: 700;
  
}
/* footer end */
/* >>>>>>> main */
